<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <!-- 引入图标样式 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/simple-line-icons@2.5.5/css/simple-line-icons.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'css/components.chunk.css' %}">
    <link rel="stylesheet" href="{% static 'css/umi.css' %}">
    <script src="{% static 'js/custom.js' %}"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="theme-color" content="#343a40">

    <title>海洋牧场监测可视化系统</title>
</head>

<body>
    <div id="root">
        <div id="page-container"
            class="null sidebar-o sidebar-dark page-header-dark side-scroll page-header-fixed main-content-boxed side-trans-enabled false">
            <div class="v2board-nav-mask" style="display: none;"></div>
            <nav id="sidebar">
                <div class="smini-hidden bg-header-dark">
                    <div class="content-header justify-content-lg-center bg-white-10"><a class="font-size-lg text-white"
                            href="/fishery/homepage/"><span class="text-white-75">海洋牧场</span></a>
                        <div class="d-lg-none"><a class="text-white ml-2" data-toggle="layout"
                                data-action="sidebar_close" href="javascript:void(0);"><i
                                    class="fa fa-times-circle"></i></a></div>
                    </div>
                </div>
                <div class="content-side content-side-full">
                    <ul class="nav-main">
                        <li class="nav-main-heading">欢迎光临</li>
                        <li class="nav-main-item"><a class="nav-main-link false" href="/fishery/homepage/"><i
                                    class="nav-main-link-icon si si-book-open"></i><span
                                    class="nav-main-link-name">主页</span></a></li>
                        <li class="nav-main-item"><a class="nav-main-link false" href="/fishery/main_info/"><i
                                    class="nav-main-link-icon si si-book-open"></i><span
                                    class="nav-main-link-name">主要信息</span></a></li>
                        {% if user_info.role == 'fisher' or user_info.role == 'general_user' %}
                        <li class="nav-main-heading">功能</li>
                        {% endif %}
                        {% if user_info.role == 'fisher' %}
                        <li class="nav-main-item"><a class="nav-main-link false" href="/fishery/underwater_system/"><i
                                    class="nav-main-link-icon si si-question"></i><span
                                    class="nav-main-link-name">水下系统</span></a></li>
                        <li class="nav-main-item"><a class="nav-main-link false" href="/fishery/data_center/"><i
                                    class="nav-main-link-icon si si-question"></i><span
                                    class="nav-main-link-name">数据中心</span></a></li>
                        {% endif %}
                        {% if user_info.role == 'fisher' or user_info.role == 'general_user' %}
                        <li class="nav-main-item"><a class="nav-main-link false" href="/fishery/intelligence_center/"><i
                                    class="nav-main-link-icon si si-question"></i><span
                                    class="nav-main-link-name">智能中心</span></a></li>
                        {% endif %}
                        {% if user_info.role == 'admin' %}
                        <li class="nav-main-heading">管理员管理</li>
                        <li class="nav-main-item"><a class="nav-main-link false" href="/fishery/admin_management/"><i
                                    class="nav-main-link-icon si si-book-open"></i><span
                                    class="nav-main-link-name">管理中心</span></a></li>
                        {% endif %}
                        <li class="nav-main-heading">用户</li>
                        <li class="nav-main-item"><a class="nav-main-link false" href="/fishery/user/"><i
                                    class="nav-main-link-icon si si-users"></i><span
                                    class="nav-main-link-name">用户中心</span></a></li>
                        <li class="nav-main-heading">关于</li>
                        <li class="nav-main-item"><a class="nav-main-link active" href="/fishery/illustration/"><i
                                    class="nav-main-link-icon si si-book-open"></i><span
                                    class="nav-main-link-name">说明</span></a></li>
                    </ul>
                </div>
                <div class="v2board-copyright">海洋牧场监测可视化系统 v1.0.0</div>
            </nav>
            <header id="page-header">
                <div class="content-header">
                    <div class="sidebar-toggle" style="display: none;" id="sidebarToggle"><button type="button"
                            class="btn btn-primary mr-1 d-lg-none"><i class="fa fa-fw fa-bars"></i></button></div>
                    <div class="v2board-container-title text-white">说明</div>
                    <div>
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn btn-primary dropdown-button">
                                <i class="far fa fa-user-circle"></i>
                                <span class="d-none d-lg-inline ml-1">{{ user_info.username }}</span>
                                <i class="fa fa-fw fa-angle-down ml-1"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right p-0 false">
                                <div class="p-2">
                                    <a class="dropdown-item" href="/fishery/user/">
                                        <i class="far fa-fw fa-user mr-1"></i> 个人中心
                                    </a>
                                    <a class="dropdown-item" href="/fishery/login/">
                                        <i class="far fa-fw fa-arrow-alt-circle-left mr-1"></i> 登出
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <script>
                var sidebarVisible = false;

                document.getElementById('sidebarToggle').addEventListener('click', function (event) {
                    event.stopPropagation(); // 阻止事件冒泡
                    var pageContainer = document.getElementById('page-container');
                    var navMask = document.querySelector('.v2board-nav-mask');

                    if (sidebarVisible) {
                        pageContainer.className = "null sidebar-o sidebar-dark page-header-dark side-scroll page-header-fixed main-content-boxed side-trans-enabled false";
                        navMask.style.display = "none";
                    } else {
                        pageContainer.className = "null sidebar-o sidebar-dark page-header-dark side-scroll page-header-fixed main-content-boxed side-trans-enabled sidebar-o-xs";
                        navMask.style.display = "block";
                    }

                    sidebarVisible = !sidebarVisible;
                });

                document.addEventListener('click', function (event) {
                    if (sidebarVisible) {
                        var pageContainer = document.getElementById('page-container');
                        var navMask = document.querySelector('.v2board-nav-mask');
                        pageContainer.className = "null sidebar-o sidebar-dark page-header-dark side-scroll page-header-fixed main-content-boxed side-trans-enabled false";
                        navMask.style.display = "none";
                        sidebarVisible = false;
                    }
                });
            </script>
            <main id="main-container">
                <div class="content content-full">
                    <div class="row mb-3 mb-md-0">
                        <div class="col-xl-12">
                            <div class="block block-rounded js-appear-enabled">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">项目开发团队</h3>
                                </div>
                                <div class="block-content">
                                    <p>
                                        龙队（组长：冯思程 组员：李星谊、林子淳、李昱桥、杜旖芃）
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mb-md-0">
                        <div class="col-xl-12">
                            <div class="block block-rounded js-appear-enabled">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">关于项目</h3>
                                </div>
                                <div class="block-content">
                                    <p>
                                        我们的海洋牧场监测可视化系统是一个利用先进的信息技术和大数据分析，为渔场管理提供科学的决策支持的智能可视化平台。我们的系统可以实时监测海洋牧场的水质、生物信息、环境因素等数据，并通过人工智能技术进行分析和预测，帮助用户更好地管理和保护海洋生态环境。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mb-md-0">
                        <div class="col-xl-12">
                            <div class="block block-rounded js-appear-enabled">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">使命和愿景</h3>
                                </div>
                                <div class="block-content">
                                    <p>
                                        我们的使命是提供创新科技解决方案、支持科学决策、促进可持续发展、提升行业影响力和推动国际间的合作与交流。以推动渔业可持续发展、保护海洋生态环境为己任，助力建设更加繁荣、健康的海洋生态系统。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mb-md-0">
                        <div class="col-xl-12">
                            <div class="block block-rounded js-appear-enabled">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">隐私保护</h3>
                                </div>
                                <div class="block-content">
                                    <p>
                                        我们重视用户的隐私，严格遵守相关法律法规，保护用户的个人信息安全。我们不会泄露、出售或分享用户的个人信息给第三方，除非得到用户的明确授权或法律要求。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mb-md-0">
                        <div class="col-xl-12">
                            <div class="block block-rounded js-appear-enabled">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">免责声明</h3>
                                </div>
                                <div class="block-content">
                                    <p>
                                        尽管我们的团队努力确保提供本系统提供实时、准确、可靠的牧场信息，但我们不对用户因使用我们的系统而产生的任何行为、决策或结果负责。在做出任何决策之前，请咨询专业人士的意见。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mb-md-0">
                        <div class="col-xl-12">
                            <div class="block block-rounded js-appear-enabled">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">联系方式</h3>
                                </div>
                                <div class="block-content">
                                    <p>
                                        如果您对我们的系统有任何疑问、建议或合作意向，欢迎通过以下方式与我们联系：
                                    </p>
                                    <p>
                                        电子邮件：<a href="mailto:fscnkucs@gmail.com">fscnkucs@gmail.com</a> <br>
                                        客服电话：18822623404
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mb-md-0">
                        <div class="col-xl-12">
                            <div class="block block-rounded js-appear-enabled">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">开源说明</h3>
                                </div>
                                <div class="block-content">
                                    <p>
                                        本项目愿意遵守互联网的开源协议，如有需要，请访问：<a
                                            href="https://github.com/fscdc/Intelligent-Fishery/tree/main">Git项目</a>
                                    </p>

                                    <div class="section">
                                        <p>
                                            再次感谢您使用我们的海洋牧场监测可视化系统，我们将竭诚为您提供优质的服务！
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>